.slider{
    display: flex;
    overflow: hidden;
    background-color: #fff;
    margin: 100px 100px;
    margin-top: 80px;
    position: relative;
}

.slider__item{
    min-width: 100%;
    position: relative;
    transition: .4s;
    transition-timing-function: linear;

}

.slaider__image{
    width: 100%;
    height: 100%;
}

.slider__item-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.slider__button-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#slideOne{
    /* left: -100%; */
}

#slideTwo{
    z-index: 99;
}

.slider__button-checked{
    position: absolute;
    top: 45%;
    bottom: 45%;
    z-index: 999;
    width: 5%;
    font-size: 32px;
}

.slider__button-checked_left{
    left: 0;

    border-radius: 0 25px 25px 0;
}

.slider__button-checked_right{
    right: 0;
    border-radius: 25px 0 0 25px;
}

.slider__item-titel{
    color: red;
    position: relative;

    text-align: center;

    font-size: 3em;

    z-index: 99;
}

.slider__button{
    color: #000000; 
    padding: 10px 30px;

    border: 1px solid red;

    position: relative;

    border-radius: 25px;
    background-color: red;
    opacity: .6;
}

.slider__button:hover{
    cursor: pointer;
}

.slider__button:first-child{
    /* margin-right: 10%; */
}

@media (max-width: 1200px) {
    .slider{
        margin: 0 40px;
        margin-top: 50px;
    }
}

@media (max-width: 991px) {
    .slider{
        margin: 0 60px;
        margin-top: 50px;
    }

    .slider__item-titel{
        font-size: 2.5em;
    }

    .slider__button-checked{
        font-size: 2em;
        padding: 0;
        width: 5.9%;
    }
}


@media (max-width: 570px) {
    .slider{
        margin: 0;
        margin-top: 50px;

        width: 100%;
    }

    .slider__item-titel{
        font-size: 1.8em;
        margin: 0;
    }

    .slider__button-checked{
        font-size: 2em;
        padding: 0;
        width: 5.9%;
    }

    .slider__button-checked_left{
        display: none;
    }
    
    .slider__button-checked_right{
        display: none;
    }
}