.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .menu-element{
    margin-right: 15px;
    width: fit-content;
  }
  /* .menu-element:last-child {
    margin-right: 0;
  } */
  .menu-element:nth-of-type(4){
    margin-right: 0;
  }

  .main-menu {
    display: flex; 
    justify-content: center;
    align-items: center;

    margin: 0 100px;
  }

  .logo{
    width: 20%;
  }

  .menu-wrapper{
    display: flex;
    justify-content: flex-end;
    
    width: 100%;

    color: #ffffff;
  }

@media (max-width: 1200px) {
  .main-menu {
    margin: 0 40px;
  }
}

@media (max-width: 991px) {
  .main-menu {
    margin: 25px 60px 0 60px;
  }

  .menu-element{
    font-size: 14px;
  }

  .dropbtn {
    font-size: 14px;
  }

  .logo {
    width: 25%;
  }
}

@media (max-width: 570px) {
  .main-menu {
    box-sizing: padding-box;
    margin: 25px 40px 0 40px;
    flex-direction: column;
  }

  .menu-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menu-element{
    font-size: 14px;
  }

  .dropbtn {
    font-size: 14px;
  }

  .logo {
    width: calc(50% + 40px);

    margin-bottom: 25px;
  }

}