.description{
    margin: 100px;

    color: #ffffff;
}

.main__title {
    font-size: 42px;
}

#Location {
    margin: 0 100px;
}

#Location iframe {
    width: 100%;
}

.contacts {
    display: flex;

    list-style: none;

    flex-direction: row;

    padding: 0;
    margin: 0 100px 100px 100px;
}

.contacts__item {
    margin-right: 2%;
}

.contacts__item:last-child {
    margin-right: 0;
}

@media (max-width: 1200px) {
    .description{
        margin: 50px 40px;
    
    }

    .contacts {
        margin: 0 40px 50px 40px;
    }

    #Location {
        margin: 0 40px;
    }
}

@media (max-width: 991px) {
    .description{
        margin: 50px 60px;
    
    }

    .contacts {
        margin: 0 60px 50px 60px;
    }

    #Location {
        margin: 0 60px;
    }

    .main__title {
        font-size: 2.5em;
    }
}

@media (max-width: 570px) {
    .description{
        margin: 50px 40px;
        font-size: 14px;
    
    }

    .contacts {
        margin: 0 40px 50px 40px;
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts__item{
        margin-bottom: 10px;
    }

    .contacts__item:last-child{
        margin-bottom: 0;
    }

    #Location {
        margin: 0;
        width: 100%;    
    }

    .main__title {
        font-size: 1.8em;
    }
}